.fundoCadastro {
  /* Define a imagem de fundo utilizando um URL. A imagem será carregada da URL especificada. */
  background-image: url("https://i.imgur.com/ZZFAmzo.jpg");

  /* Impede que a imagem de fundo se repita. Ou seja, a imagem será exibida apenas uma vez no fundo. */
  background-repeat: no-repeat;

  /* Define a largura do elemento como 100% da largura disponível. Ou seja, o elemento ocupará toda a largura da tela ou do seu contêiner pai. */
  width: 100%;

  /* Define a altura mínima do elemento como 100% da altura da janela do navegador (100vh = 100% da altura da janela de visualização). */
  min-height: 100vh;

  /* Faz com que a imagem de fundo seja dimensionada para cobrir todo o espaço disponível, sem distorcer a imagem. */
  background-size: cover;

  /* Posiciona a imagem de fundo no centro do elemento, tanto horizontal quanto verticalmente. */
  background-position: center;
}
